data/raw/satellite/od_cover.tif
data/raw/satellite/od_cover.tif.aux.xml
data/raw/shapefiles/Odisha_Admin_Census_Village_BND_2021.cpg
data/raw/shapefiles/Odisha_Admin_Census_Village_BND_2021.dbf
data/raw/shapefiles/Odisha_Admin_Census_Village_BND_2021.prj
data/raw/shapefiles/Odisha_Admin_Census_Village_BND_2021.shp
data/raw/shapefiles/Odisha_Admin_Census_Village_BND_2021.shx
