# Core
flask
flask-cors

# Geospatial
geopandas
shapely
fiona
rtree
rasterio

# Visualization / Maps
folium
plotly

# Data handling
pandas
numpy

# Fuzzy matching (for village/block names)
rapidfuzz
streamlit
streamlit_folium
matplotlib
seaborn